.buttonElement > .submitBtn{
  background: rgb(64, 129, 151);
  color:#ffffff;

}
$bg-image : "../images/login-bg.jpeg";
$content-image : "../images/login-form-right-content-img.jpg";

.containerStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;

}

body{
  background-image: url($bg-image);
  background-size: cover; // Obraz wypełni cały obszar, zachowując proporcje
  background-attachment: fixed;
  background-position: center center;
}



.formStyle {

  justify-content: center;
  align-items: center;
  padding: 20px 20px  0 20px;
  height: 50%;

}


.formStyle .form-group {
  margin-bottom: 20px;


}

.buttonElement{
  text-align: center;
  margin-top: 20px;
}

.footer{
  margin-top: 20px;
  color: rgb(64, 129, 151);

  height: 100%;


}

.contentPanel{
  display: flex;
  background: white;
  border-radius: 20px 20px 20px 20px;

  overflow: hidden;
}

.contentRight {


}

.contentLeft {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  color: rgb(64, 129, 151);

}

.contentRight > img{
  height: 100%;
  width: 100%;



}