.options-list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;


}
.option-row{
  width: 100%;
  border: white;
  margin-bottom: 30%;

  display: flex;

  justify-content: center;
  align-items: center;

}
.option-icon-col{
  width: 20%;
}

.option-text-col{
  width: 80%;
  text-align: center;
}